<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>4p bash: 4programmers.net bash</title>
		<meta name="robots" content="noarchive,nofollow" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="alternate" type="application/rss+xml" href="?rss" title="RSS">
		<style type="text/css" media="all">
			@import "/resources/style.css";
			@import "/resources/4p.css";
		</style>
	</head>
	<body>
		<div id="site_all">
			<div id="site_nav">
				<div id="site_nav_4p_upper_wrapper">
					<div id="site_nav_upper">
						<div id="site_nav_upper_qms-long">4programmers.net bash</div>
						<div id="site_nav_upper_qms">4p bash</div>
						&nbsp;
						<a href="?admin" id="site_nav_admin">Admin</a>
					</div>
					<!-- #site_nav_upper -->
				</div>
				<!-- 4p wrapper -->
				<div id="site_nav_4p_lower_wrapper">
					<div class="site_nav_lower">
						<div class="site_nav_lower_linkbar"><a href="/list/latest" id="site_nav_latest">Najnowsze</a>
							<span class="sep"> | </span>
							<a href="/random" id="site_nav_random2">Losowe</a>
							<span class="sep"> | </span><span class="sep"> | </span>
							<a href="/list/best" id="site_nav_top">Najlepsze</a>
							<span class="sep"> | </span>
							<a href="/list/worst" id="site_nav_worst">Najgorsze</a>
							<span class="sep"> | </span>
							<a href="/search" id="site_nav_search">Szukaj</a>
							<span class="sep"> | </span>
							<a href="/add" id="site_nav_add">Dodaj</a></div>
					</div>
				</div>
				<!-- 4p wrapper -->
			</div>
			<!-- #site_nav -->
			<div id="main_wrapper">
                {% block content %}
                {% endblock %}
			</div>
			<div id="site_admin_nav">
				<div id="site_admin_nav_upper">
					<div id="site_admin_nav_upper_linkbar">
						<div class="site_nav_lower">
							<div class="site_nav_lower_linkbar"></div>
						</div>
					</div>
				</div>
				<div id="site_admin_nav_lower">
					<div id="site_admin_nav_lower_infobar">
						<span id="site_admin_nav_lower_infobar_pending">
						Oczekujących cytatów: 2;
						</span>
						<span id="site_admin_nav_lower_infobar_approved">
						Zaakceptowanych cytatów: 237
						</span>
					</div>
				</div>
			</div>
		</div>
		<script src="/resources/qdb.js"></script>
	</body>
</html>
